<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'shared/left_bar' %></div>
  <div class="col-md-9">
    <div class="d-flex justify-content-center">
      <div>
        <%= raw @qr.as_html %>
      </div>
    </div>
  </div>
</div>
