<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'shared/left_bar' %></div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <%= image_tag @device_attach.name_url, class: "rounded card-img-top" %>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <%= link_to "返回", device_device_attaches_path(@device), class: "btn btn-primary" %>
    </div>  
  </div>
</div>
