<div class="card">
  <div class="card-body d-flex flex-column">
    <div class="mt-2">
      <a href="<%= options_path %>">
        <button type="button" class="btn <%= (action_name == 'index') ? 'btn-primary' : 'btn-outline-secondary' %> btn-block">模块显示设置</button>
      </a>
    </div>
  </div>
</div>
