<%= render 'shared/nav' %>
<div class="row">
  <div class="col-md-3"><%= render 'left_bar' %></div>
  <div class="card col-md-9">
    <div class="card-body">
      <div id="options">
        <%= render 'options' %>
      </div>
    </div>
  </div>
</div>
