<div class="card">
  <div class="card-body d-flex flex-column">
    <div class="mt-2">
      <a href="<%= new_logo_path %>">
        <button type="button" class="btn <%= (controller_name == 'logos') ? 'btn-primary' : 'btn-outline-secondary' %> btn-block">二维码logo</button>
      </a>
    </div>
    <div class="mt-2">
      <a href="<%= logo_set_dimensions_path %>">
        <button type="button" class="btn <%= (controller_name == 'set_dimensions') ? 'btn-primary' : 'btn-outline-secondary' %> btn-block">二维码样式</button>
      </a>
    </div>
  </div>
</div>
