<% provide(:title, @user.basic.name) %>
<%= render 'shared/carousels' %>
<%= render 'shared/index_lists' %>
<div class="d-flex row">
  <div class="d-flex col-md-8 flex-wrap">
    <% @tags.each do |tag| %>
      <div class="card col-md-6 mb-2">
        <div class="card-header bg-transparent border-success"><%= link_to tag.name, kind_path(tag) %></div>
        <div class="card-body text-center">
          <ul>
            <% tag.articles do |article| %>
              <li><%= article.title %></li>
            <% end -%>
          </ul>
        </div>
      </div>
    <% end -%>
  </div> 
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        hello world
      </div>
    </div>
  </div> 
  </div>
</div>
