<%= form_with(model: tag, local: true) do |form| %>
  <% unless tag.errors.blank? %>
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        <% tag.errors.messages.values.flatten.each do |error| %>
          <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "输入标题", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.submit tag.new_record?  ? "新建" : "更新", class: "btn btn-primary" %>
  </div> 
<% end %>
