/*
 *= require_self
*/
@import "bootstrap";
@import "font-awesome";
@import "simplemde.min";

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

a:hover { text-decoration:none;}

#picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#employees img {
    margin-top: -50px; }

#employees .card:hover {
    background: #3292a6;
    color: #fff; }

#employees .card:hover .fa {
    color: #fff; }
