/*
 *= require_self
*/
@import "bootstrap";
@import "font-awesome";

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

.wrapper{
  width:100%;
  margin:0 auto;
  overflow:hidden;
  overflow-wrap: break-word;
}

.box_wrapper{
  overflow-x:scroll;
  overflow-wrap: break-word;
  white-space:nowrap;
  font-size:0;
}

.content_item{
  display:inline-block;
  margin:10px 5px;
  width:100%;
  background:#ddd;
  border:1px solid #000;
}
